%a{:href => "http://localhost:3000/stops/9206"} mohawk college south entrance loop
%br/
%br/
%a{:href => "http://localhost:3000/stop_times/show?stop_id=355493&trip_id=940860" } a stoptime with comments
